@import views.bs3.bs3._

@()

@docs.util.docpage("Grid system") {

    <h2>Example: Stacked-to-horizontal</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
            @grid.col.md(1) {.col-md-1}
        }
        @grid.row.css("show-grid") {
            @grid.col.md(8) {.col-md-8}
            @grid.col.md(4) {.col-md-4}
        }
        @grid.row.css("show-grid") {
            @grid.col.md(4) {.col-md-4}
            @grid.col.md(4) {.col-md-4}
            @grid.col.md(4) {.col-md-4}
        }
        @grid.row.css("show-grid") {
            @grid.col.md(6) {.col-md-6}
            @grid.col.md(6) {.col-md-6}
        }
    } {
    }

    <h2>Example: Mobile and desktop</h2>

    @docs.util.example {
        Stack the columns on mobile by making one full-width and the other half-width
        @grid.row.css("show-grid") {
            @grid.col.xs(12).md(8) {.col-xs-12 .col-md-8}
            @grid.col.xs(6).md(4) {.col-xs-6 .col-md-4}
        }

        Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop
        @grid.row.css("show-grid") {
            @grid.col.xs(6).md(4) {.col-xs-6 .col-md-4}
            @grid.col.xs(6).md(4) {.col-xs-6 .col-md-4}
        }

        Columns are always 50% wide, on mobile and desktop
        @grid.row.css("show-grid") {
            @grid.col.xs(6) {.col-xs-6}
            @grid.col.xs(6) {.col-xs-6}
        }
    } {

    }

    <h2>Example: Mobile, tablet, desktop</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.xs(12).sm(6).md(8) {.col-xs-12 .col-sm-6 .col-md-8}
            @grid.col.xs(6).sm(4) {.col-xs-6 .col-sm-4}
        }
        @grid.row.css("show-grid") {
            @grid.col.xs(6).sm(4) {.col-xs-6 .col-sm-4}
            @grid.col.xs(6).sm(4) {.col-xs-6 .col-sm-4}
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            @grid.col.clear.xs()
            @grid.col.xs(6).md(4) {.col-xs-6 .col-sm-4}
        }
    } {

    }

    <h2>Example: Column wrapping</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.xs(9) {.col-xs-9}
            @grid.col.xs(4) {.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.}
            @grid.col.xs(6) {.col-xs-6<br>Subsequent columns continue along the new line.}
        }
    } {

    }

    <h2>Responsive column resets</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.xs(6).sm(3) {.col-xs-6 .col-sm-3}
            @grid.col.xs(6).sm(3) {.col-xs-6 .col-sm-3}

            <!-- Add the extra clearfix for only the required viewport -->
            @grid.col.clear.xs()

            @grid.col.xs(6).sm(3) {.col-xs-6 .col-sm-3}
            @grid.col.xs(6).sm(3) {.col-xs-6 .col-sm-3}
        }
    } {
    }

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.sm(5).md(6) {.col-sm-5 .col-md-6}
            @grid.col.sm(5).smoffset(2).md(6).mdoffset(0) {.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0}
        }
        @grid.row.css("show-grid") {
            @grid.col.sm(6).md(5).lg(6) {.col-sm-6 .col-md-5 .col-lg-6}
            @grid.col.sm(6).md(5).mdoffset(2).lg(6).lgoffset(0) {.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0}
        }
    } {

    }

    <h2>Offsetting columns</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.md(4) {.col-md-4}
            @grid.col.md(4).mdoffset(4) {.col-md-4 .col-md-offset-4}
        }
        @grid.row.css("show-grid") {
            @grid.col.md(3).mdoffset(3) {.col-md-3 .col-md-offset-3}
            @grid.col.md(3).mdoffset(3) {.col-md-3 .col-md-offset-3}
        }
        @grid.row.css("show-grid") {
            @grid.col.md(6).mdoffset(3) {.col-md-6 .col-md-offset-3}
        }
    } {

    }

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.xs(6).sm(4) {col-xs-6 col-sm-4}
            @grid.col.xs(6).sm(4) {col-xs-6 col-sm-4}
            @grid.col.xs(6).xsoffset(3).sm(4).smoffset(0) {col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0}
        }
    } {

    }

    <h2>Nesting columns</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.sm(9) {
                Level 1: .col-sm-9
                @grid.row {
                    @grid.col.xs(8).sm(6) {
                        Level 2: .col-xs-8 .col-sm-6
                    }
                    @grid.col.xs(4).sm(6) {
                        Level 2: .col-xs-4 .col-sm-6
                    }
                }
            }
        }
    } {

    }

    <h2>Column ordering</h2>

    @docs.util.example {
        @grid.row.css("show-grid") {
            @grid.col.md(9).mdpush(3){ .col-md-9 .col-md-push-3}
            @grid.col.md(3).mdpull(9){ .col-md-3 .col-md-pull-9}
        }
    } {

    }
}