@import views.bs3.bs3._

@()

@docs.util.docpage("Popover") {

    <h2>Examples</h2>

    @docs.util.example {
        @btn.large.danger.popover("Popover title", "And here's some amazing content. It's very engaging. Right?") {Click to toggle popover}
    } {
    }

    <h3>Four directions</h3>
    @docs.util.example {
        <div align="center">
            @btn.popoverLeft("", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") {Popover on left}
            @btn.popoverTop("", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") {Tooltip on top}
            @btn.popoverRight("", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") {Tooltip on right}
            @btn.popoverBottom("", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") {Tooltip on bottom}
        </div>
    } {

    }

    <h3>Html tooltip</h3>

    @docs.util.example {
        @btn.large.popover {Pop<i>over</i> Title} {A <span style="background-color: cyan;">cool</span> popover.<br>Isn't it?}.primary {Styled tooltip}
        <br>
        @btn.large.popover @{Html("")} {Look.<h3>No title!</h3>}.primary {Styled tooltip}
    } {
    }
}