@import views.bs3.bs3._

@()

@docs.util.docpage("Tooltip") {

    <h2>Examples</h2>

    @docs.util.example {
        <p>Tight pants next level keffiyeh
            @anchor.tooltip("Default tooltip") {you probably}
            haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
            @anchor.tooltip("Another tooltip") {have a}
            terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan Tight pants next level keffiyeh
            @anchor.tooltip("Another one here too") {whatever keytar},
            scenester farm-to-table banksy Austin
            @anchor.tooltip("The last tip!") {twitter handle}
            freegan cred raw denim single-origin coffee viral.</p>
    } {
    }

    <h3>Four directions</h3>
    @docs.util.example {
        <div align="center">
            @btn.tooltipLeft("Tooltip on left") {Tooltip on left}
            @btn.tooltipTop("Tooltip on top") {Tooltip on top}
            @btn.tooltipRight("Tooltip on right") {Tooltip on right}
            @btn.tooltipBottom("Tooltip on bottom") {Tooltip on bottom}
        </div>
    } {

    }

    <h3>Html tooltip</h3>

    @docs.util.example {
        @btn.tooltip {A <span style="color : cyan ;">cool</span> tooltip} {Styled tooltip}
        <div align="center">
            @btn.tooltipLeft {Tooltip on <b>left</b>} {Tooltip on left}
            @btn.tooltipTop {Tooltip on <b>top</b>} {Tooltip on top}
            @btn.tooltipRight {Tooltip on <b>right</b>} {Tooltip on right}
            @btn.tooltipBottom {Tooltip on <b>bottom</b>} {Tooltip on bottom}
        </div>
    } {
    }
}