@import views.bs3.bs3._

@()

@docs.util.docpage("Alerts") {

    <h2>Examples</h2>

    @docs.util.example {
        @alert.success {
            <strong>Well done!</strong>
            You successfully read this important alert message.}
        @alert.info {
            <strong>Heads up!</strong>
            This alert needs your attention, but it's not super important.}
        @alert.warning {
            <strong>Warning!</strong>
            Better check yourself, you're not looking too good.}
        @alert.danger {
            <strong>Oh snap!</strong>
            Change a few things up and try submitting again.}
    } {
        @@alert.success {...}
        @@alert.info {...}
        @@alert.warning {...}
        @@alert.danger {...}
    }

    <h2>Dismissible alerts</h2>

    @docs.util.example {
        @alert.warning.dismissable {
            <strong>Warning!</strong>
            Better check yourself, you're not looking too good.}
    } {
        @@alert.warning.dismissable {...}
    }

    <h2>Links in alerts</h2>

    @docs.util.example {
    } {
    }
}