@import views.bs3.bs3._

@()

@docs.util.docpage("Badges") {

    @docs.util.example {
        <a href="#">Inbox @badge{42}</a>
        <br/>
        <br/>
        @btn.primary {Messages @badge {4}}
    } {
        &lt;a href="#"&gt;Inbox @@badge{42}&lt;/a&gt;

        @@btn.primary {Messages @@badge{4}}
    }

    @docs.util.example {
        @pills {
            @pill.item.active {Home @badge {42}}
            @pill.item {Profile}
            @pill.item {Messages @badge {3}}
        }
    } {
        @@pills {
            @@pill.item.active {Home @badge {42}}
            @@pill.item {Profile}
            @@pill.item {Messages @badge {3}}
        }
    }
}