@import views.bs3.bs3._

@()

@docs.util.docpage("Button groups") {

    <h2>Basic example</h2>

    @docs.util.example {
        @btnGroup {
            @btn {Left}
            @btn {Middle}
            @btn {Right}
        }
    } {
        @@btnGroup {
        @@btn {Left}
        @@btn {Middle}
        @@btn {Right}
        }}

    <h2>Button toolbar</h2>

    @docs.util.example {
        @btnToolbar {
            @btnGroup {
                @btn {1}
                @btn {2}
                @btn {3}
                @btn {4}
            }
            @btnGroup {
                @btn {5}
                @btn {6}
                @btn {7}
            }
            @btnGroup {
                @btn {8}
            }
        }
    } {
        @@btnToolbar {
        @@btnGroup {
        ...
        }
        @@btnGroup {
        ...
        }
        @@btnGroup {
        ...
        }
        }
    }

    <h2>Sizing</h2>

    @docs.util.example {
        @btnGroup.large {
            @btn {Left} @btn {Middle} @btn {Right}
        }
        <br/>
        @btnGroup.defaultSize {
            @btn {Left} @btn {Middle} @btn {Right}
        }
        <br/>
        @btnGroup.small {
            @btn {Left} @btn {Middle} @btn {Right}
        }
        <br/>
        @btnGroup.extraSmall {
            @btn {Left} @btn {Middle} @btn {Right}
        }
    } {
        @@btnGroup.large {
        ...
        }
        @@btnGroup.defaultSize {
        ...
        }
        @@btnGroup.small {
        ...
        }
        @@btnGroup.extraSmall {
        ...
        }
    }

    <h2>Nesting</h2>

    @docs.util.example {
        @btnGroup {
            @btn {1}
            @btn {2}
            @btn.dropdown {Dropdown} {
                @menu.item {Dropdown link}
                @menu.item {Dropdown link}
            }
        }
    } {
        @@btnGroup {
        @@btn {1}
        @@btn {2}
        @@btn.dropdown {Dropdown} {
        @@menu.item {Dropdown link}
        @@menu.item {Dropdown link}
        }
        }
    }

    <h2>Vertical variation</h2>

    @docs.util.example {
        @btnGroup.vertical {
            @btn {Button}
            @btn {Button}
            @btn.dropdown {Dropdown} {
                @menu.item {Dropdown link} @menu.item {Dropdown link}
            }
            @btn {Button}
            @btn {Button}
            @btn.dropdown {Dropdown} {
                @menu.item {Dropdown link} @menu.item {Dropdown link}
            }
            @btn.dropdown {Dropdown} {
                @menu.item {Dropdown link} @menu.item {Dropdown link}
            }
            @btn.dropdown {Dropdown} {
                @menu.item {Dropdown link} @menu.item {Dropdown link}
            }
        }
    } {
        @@btnGroup.vertical {
        ...
        }
    }
}