@import views.bs3.bs3._

@()

@docs.util.docpage("Button dropdowns") {

    <h2>Single button dropdowns</h2>

    @docs.util.example {
        @btn.dropdown.defaultColor {Default} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.primary {Primary} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.success {Success} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.info {Info} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.warning {Warning} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.danger {Danger} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
    } {
        @@btn.dropdown.defaultColor {Default} {
        ...
        }
        @@btn.dropdown.primary {Default} {
        ...
        }
        @@btn.dropdown.success {Default} {
        ...
        }
        @@btn.dropdown.info {Default} {
        ...
        }
        @@btn.dropdown.warning {Default} {
        ...
        }
        @@btn.dropdown.danger {Default} {
        ...
        }}

    <h2>Split button dropdowns</h2>

    @docs.util.example {
        @btn.dropdown.split {Default} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.split.primary {Primary} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.split.success {Success} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.split.info {Info} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.split.warning {Warning} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropdown.split.danger {Danger} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
    } {
        @@btn.dropdown.split {Default} {
        ...
        }}

    <h2>Sizing</h2>

    @docs.util.example {
        @btn.dropdown.large {Large button} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        <br/>
        @btn.dropdown.small {Small button} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        <br/>
        @btn.dropdown.extraSmall {Extra small button} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
    } {
        @@btn.dropdown.large {Large button} {
        ...
        }
        @@btn.dropdown.small {Small button} {
        ...
        }
        @@btn.dropdown.extraSmall {Extra small button} {
        ...
        }}

    <h2>Dropup variation</h2>

    @docs.util.example {
        @btn.dropup.split {Dropup} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
        @btn.dropup.split.primary {Right dropup} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
    } {
        @@btn.dropup.split {Dropup} {
        ...
        }
        @@btn.dropup.split.primary {Right dropup} {
        ...
        }
    }
}