@import views.bs3.bs3._

@()

@docs.util.docpage("Dropdowns") {

    <h2>Example</h2>

    @docs.util.exampleexpanded {
        @btn.dropdown {Dropdown} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
        }
    } {
        @@btn.dropdown {Dropdown} {
        @@menu.item {Action}
        @@menu.item {Another action}
        @@menu.item {Something else here}
        }}

    @docs.util.exampleexpanded {
        @btn.dropup {Dropup} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
        }
    } {
        @@btn.dropup {Dropup} {
        @@menu.item {Action}
        @@menu.item {Another action}
        @@menu.item {Something else here}
        }}

    <h2>Headers</h2>
    @docs.util.exampleexpanded {
        @btn.dropdown {Dropdown} {
            @menu.header("Dropdown header")
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.header("Dropdown header")
            @menu.item {Separated link}
        }
    } {
        @@btn.dropdown {Dropdown} {
        ...
        @@menu.header("Dropdown header")
        ...
        }}

    <h2>Divider</h2>
    @docs.util.exampleexpanded {
        @btn.dropdown {Dropdown} {
            @menu.item {Action}
            @menu.item {Another action}
            @menu.item {Something else here}
            @menu.divider
            @menu.item {Separated link}
        }
    } {
        @@btn.dropdown {Dropdown} {
        ...
        @@divider
        ...
        }}

    <h2>Disabled menu items</h2>
    @docs.util.exampleexpanded {
        @btn.dropdown {Dropdown} {
            @menu.item {Regular link}
            @menu.item.disabled {Disabled link}
            @menu.item {Another link}
        }
    } {
        @@btn.dropdown {Dropdown} {
        @@menu.item {Regular link}
        @@menu.item.disabled {Disabled link}
        @@menu.item {Another link}
        }}
}