@import views.bs3.bs3._

@()

@docs.util.docpage("Jumbotron") {

    @docs.util.example {
        @jumbotron {
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        }
    } {
    }

}