@import views.bs3.bs3._

@()

@_contents_ = {
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
}

@docs.util.docpage("List group") {

    <h2>Basic example</h2>

    @docs.util.example {
        @listgroup.list {
            @listgroup.item {Cras justo odio}
            @listgroup.item {Dapibus ac facilisis in}
            @listgroup.item {Morbi leo risus}
            @listgroup.item {Porta ac consectetur ac}
            @listgroup.item {Vestibulum at eros}
        }
    } {
    }

    <h2>Badges</h2>

    @docs.util.example {
        @listgroup.list {
            @listgroup.item {
                @badge("14")
                Cras justo odio}
            @listgroup.item {
                @badge("2")
                Dapibus ac facilisis in}
            @listgroup.item {
                @badge("1")
                Morbi leo risus
            }
        }
    } {
    }

    <h2>Linked items</h2>

    @docs.util.example {
        @listgroup.block {
            @listgroup.link.active {Cras justo odio}
            @listgroup.link {Dapibus ac facilisis in}
            @listgroup.link {Morbi leo risus}
            @listgroup.link {Porta ac consectetur ac}
            @listgroup.link {Vestibulum at eros}
        }
    } {
    }

    <h2>Button items</h2>

    @docs.util.example {
        @listgroup.block {
            @listgroup.btn {Cras justo odio}
            @listgroup.btn {Dapibus ac facilisis in}
            @listgroup.btn {Morbi leo risus}
            @listgroup.btn {Porta ac consectetur ac}
            @listgroup.btn {Vestibulum at eros}
        }
    } {
    }

    <h2>Disabled items</h2>

    @docs.util.example {
        @listgroup.block {
            @listgroup.link.disabled {Cras justo odio}
            @listgroup.link {Dapibus ac facilisis in}
            @listgroup.link {Morbi leo risus}
            @listgroup.link {Porta ac consectetur ac}
            @listgroup.link {Vestibulum at eros}
        }
    } {
    }

    <h2>Contextual classes</h2>

    @docs.util.example {
        <div class="row">
            <div class="col-sm-6">
            @listgroup.list {
                @listgroup.item.success {Dapibus ac facilisis in}
                @listgroup.item.info {Cras sit amet nibh libero}
                @listgroup.item.warning {Porta ac consectetur ac}
                @listgroup.item.danger {Vestibulum at eros}
            }
            </div>
            <div class="col-sm-6">
            @listgroup.block {
                @listgroup.link.success {Dapibus ac facilisis in}
                @listgroup.link.info {Cras sit amet nibh libero}
                @listgroup.link.warning {Porta ac consectetur ac}
                @listgroup.link.danger {Vestibulum at eros}
            }
            </div>
        </div>
    } {
    }

    <h2>Custom content</h2>

    @docs.util.example {
        @listgroup.block {
            @listgroup.link.active {
                @_contents_
            }
            @listgroup.link {
                @_contents_
            }
            @listgroup.link {
                @_contents_
            }
        }
    } {
    }
}