@import views.bs3.bs3._

@()

@docs.util.docpage("Labels") {

    <h2>Example</h2>

    @docs.util.example {
        <h1>Example heading @label.default {New}</h1>
        <h2>Example heading @label.default {New}</h2>
        <h3>Example heading @label.default {New}</h3>
        <h4>Example heading @label.default {New}</h4>
        <h5>Example heading @label.default {New}</h5>
        <h6>Example heading @label.default {New}</h6>
    } {
        &lt;h1&gt;Example heading @@label.default{New}&lt;/h1&gt;
    }

    <h2>Available variations</h2>

    @docs.util.example {
        @label.default {Default}
        @label.primary {Primary}
        @label.success {Success}
        @label.info {Info}
        @label.warning {Warning}
        @label.danger {Danger}
    } {
        @@label.default{Default}
        @@label.primary{Primary}
        @@label.success{Success}
        @@label.info{Info}
        @@label.warning{Warning}
        @@label.danger{Danger}
    }
}