@import views.bs3.bs3._

@()

@docs.util.docpage("Navs") {

    <h2>Tabs</h2>

    @docs.util.example {
        @tabs {
            @tab.item.active {Home}
            @tab.item {Profile}
            @tab.item {Messages}
        }
    } {
        @@tabs {
            @@tab.item.active {Home}
            @@tab.item {Profile}
            @@tab.item {Messages}
        }}

    <h2>Pills</h2>

    @docs.util.example {
        @pills {
            @pill.item.active {Home}
            @pill.item {Profile}
            @pill.item {Messages}
        }
    } {
        @@pills {
            @@pill.item.active {Home}
            @@pill.item {Profile}
            @@pill.item {Messages}
        }}

    @docs.util.example {
        @pills.stacked {
            @pill.item.active {Home}
            @pill.item {Profile}
            @pill.item {Messages}
        }
    } {
        @@pills.stacked {
        ...
        }}

    <h2>Justified</h2>

    @docs.util.example {
        @tabs.justified {
            @tab.item.active {Home}
            @tab.item {Profile}
            @tab.item {Messages}
        }
        <br/>
        @pills.justified {
            @pill.item.active {Home}
            @pill.item {Profile}
            @pill.item {Messages}
        }
    } {
        @@tabs.justified {
        ...
        }
        @@pills.justified {
        ...
        }
    }

    <h2>Disabled links</h2>

    @docs.util.example {
        @pills {
            @pill.item.active {Home}
            @pill.item {Clickable link}
            @pill.item.disabled {Disabled link}
            @pill.item {Clickable link}
        }
    } {
        @@pills {
        ...
            @@pill.item.disabled {Disabled link}
        ...
        }
    }

    <h2>Using dropdowns</h2>

    <h3>Tabs with dropdowns</h3>

    @docs.util.example {
        @tabs {
            @tab.item.active {Home}
            @tab.item {Help}
            @tab.dropdown {Dropdown} {
                @menu.item {Action}
                @menu.item {Another action}
                @menu.item {Something else here}
                @menu.divider
                @menu.item {Separated link}
            }
        }
    } {
        @@tabs {
            ...
            @@tab.dropdown {Dropdown} {
                ...
                @@menu.item {...}
                ...
            }
        }
    }

    <h3>Pills with dropdowns</h3>

    @docs.util.example {
        @pills {
            @pill.item.active {Home}
            @pill.item {Help}
            @pill.dropdown {Dropdown} {
                @menu.item {Action}
                @menu.item {Another action}
                @menu.item {Something else here}
                @menu.divider
                @menu.item {Separated link}
            }
        }
    } {
        @@pills {
            ...
            @@pill.dropdown {Dropdown} {
                ...
                @@menu.item {...}
                ...
            }
        }
    }
}