@import views.bs3.bs3._

@()

@docs.util.docpage("Pagination") {

    <h2>Default pagination</h2>

    @docs.util.example {
        @pagination {
            @page.aria("Previous").href("/previous") {
                    &laquo;
            }
            @page.href("/page1") {1}
            @page.href("/page2") {2}
            @page.href("/page3") {3}
            @page.href("/page4") {4}
            @page.href("/page5") {5}
            @page.aria("Next").href("/next") {
                    &raquo;
            }
        }
    } {
        @@pagination {
        @@page.previous.disabled("/previous") {&amp;laquo;}
        @@page.active("/page1") {1}
        @@page("/page2") {2}
        @@page("/page3") {3}
        @@page("/page4") {4}
        @@page("/page5") {5}
        @@page.next("/next") {&amp;raquo;}
        }
    }

    <h3>Disabled and active states</h3>

    @docs.util.example {
        @pagination {
            @page.aria("Previous").disabled {
                    &laquo;
            }
            @page.href("/page1") {1}
            @page.active.href("/page2") {2}
            @page.href("/page3") {3}
            @page.href("/page4") {4}
            @page.href("/page5") {5}
            @page.aria("Next").href("/next") {
                    &raquo;
            }
        }
    } {
        @@pagination {
        @@page.previous.disabled("/previous") {&amp;laquo;}
        @@page.active("/page1") {1}
        ...
        }
    }

    <h3>Sizing</h3>

    @docs.util.example {
        @pagination.large {
            @page.aria("Previous").href("/previous") {
                    &laquo;
            }
            @page.href("/page1") {1}
            @page.href("/page2") {2}
            @page.href("/page3") {3}
            @page.href("/page4") {4}
            @page.href("/page5") {5}
            @page.aria("Next").href("/next") {
                    &raquo;
            }
        }
        @pagination {
            @page.aria("Previous").href("/previous") {
                    &laquo;
            }
            @page.href("/page1") {1}
            @page.href("/page2") {2}
            @page.href("/page3") {3}
            @page.href("/page4") {4}
            @page.href("/page5") {5}
            @page.aria("Next").href("/next") {
                    &raquo;
            }
        }
        @pagination.small {
            @page.aria("Previous").href("/previous") {
                    &laquo;
            }
            @page.href("/page1") {1}
            @page.href("/page2") {2}
            @page.href("/page3") {3}
            @page.href("/page4") {4}
            @page.href("/page5") {5}
            @page.aria("Next").href("/next") {
                    &raquo;
            }
        }
    } {
        @@pagination.large {
        ...
        }

        @@pagination {
        ...
        }

        @@pagination.small {
        ...
        }
    }

    <h2>Pager</h2>

    <h3>Default example</h3>

    @docs.util.example {
        @pager {
            @pager.button.href("/previous") {
                <span aria-hidden="true">&larr;</span> Older
            }
            @pager.button.href("/next") {
                Newer <span aria-hidden="true">&rarr;</span>
            }
        }
    } {
        @@pager("/previous", "/next")
    }

    <h3>Aligned links</h3>

    @docs.util.example {
        @pager {
            @pager.previous.href("/previous") {
                <span aria-hidden="true">&larr;</span> Older
            }
            @pager.next.href("/next") {
                Newer <span aria-hidden="true">&rarr;</span>
            }
        }
    } {
        <nav>
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    }

    <h3>Optional disabled state</h3>

    @docs.util.example {
        @pager {
            @pager.previous.disabled {
                <span aria-hidden="true">&larr;</span> Older
            }
            @pager.next.href("/next") {
                Newer <span aria-hidden="true">&rarr;</span>
            }
        }
    } {
        <nav>
            <ul class="pager">
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    }
}