@import views.bs3.bs3._

@()

@docs.util.docpage("Panels") {

    <h2>Basic example</h2>

    @docs.util.example {
        @panel.block {
            @panel.body {Basic panel example}
        }
    } {
    }

    <h2>Panel with heading</h2>

    @docs.util.example {
        @panel.block {
            @panel.heading {Panel heading without title}
            @panel.body {Panel content}
        }

        @panel.block {
            @panel.heading {
                @panel.h3 {Panel title}
            }
            @panel.body {Panel content}
        }
    } {
    }

    <h2>Panel with footer</h2>

    @docs.util.example {
        @panel.block {
            @panel.body {
                Panel content
            }
            @panel.footer {Panel footer}
        }
    } {
    }

    <h2>Contextual alternatives</h2>

    @docs.util.example {
        @panel.block.primary {
            @panel.heading {
                @panel.h3 {Panel title}
            }
            @panel.body {Panel content}
        }
        @panel.block.success {
            @panel.heading {
                @panel.h3 {Panel title}
            }
            @panel.body {Panel content}
        }
        @panel.block.info {
            @panel.heading {
                @panel.h3 {Panel title}
            }
            @panel.body {Panel content}
        }
        @panel.block.warning {
            @panel.heading {
                @panel.h3 {Panel title}
            }
            @panel.body {Panel content}
        }
        @panel.block.danger {
            @panel.heading {
                @panel.h3 {Panel title}
            }
            @panel.body {Panel content}
        }
    } {
    }

    <h2>With tables</h2>

    @docs.util.example {
    } {
    }

    <h2>With list groups</h2>

    @docs.util.example {
        @panel.block {
            @panel.heading {Panel heading}
            @panel.body {
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            }
            @listgroup.list {
                @listgroup.item {Cras justo odio}
                @listgroup.item {Dapibus ac facilisis in}
                @listgroup.item {Morbi leo risus}
                @listgroup.item {Porta ac consectetur ac}
                @listgroup.item {Vestibulum at eros}
            }
        }
    } {
    }
}
