@import views.bs3.bs3._

@()

@docs.util.docpage("Progress bars") {
    <h2>Basic example</h2>

    @docs.util.example {
        @progressbar(60)
    } {
        @@progressbar(60)
    }

    <h2>With label</h2>

    @docs.util.example {
        @progressbar.showingValue(60)
    } {
        @@progressbar.showingValue(60)
    }

    @docs.util.example {
        @progressbar.showingValue(0)
        @progressbar.showingValue(2)
    } {
        @@progressbar.showingValue(0)
        @@progressbar.showingValue(2)
    }

    <h2>Contextual alternatives</h2>

    @docs.util.example {
        @progressbar.success(40)
        @progressbar.info(20)
        @progressbar.warning(60)
        @progressbar.danger(80)
    } {
        @@progressbar.success(40)
        @@progressbar.info(20)
        @@progressbar.warning(60)
        @@progressbar.danger(80)
    }

    <h2>Striped</h2>

    @docs.util.example {
        @progressbar.striped.success(40)
        @progressbar.striped.info(20)
        @progressbar.striped.warning(60)
        @progressbar.striped.danger(80)
    } {
        @@progressbar.striped.success(40)
        @@progressbar.striped.info(20)
        @@progressbar.striped.warning(60)
        @@progressbar.striped.danger(80)
    }

    <h2>Animated</h2>

    @docs.util.example {
        @progressbar.animated(40)
    } {
        @@progressbar.animated(40)
    }

    <h2>Stacked</h2>
    @docs.util.example {
        @stackedprogressbar {
            @bar.success(35)
            @bar.warning.striped.showingValue(20)
            @bar.danger(10)
        }
    } {
        @@stackedprogressbar {
        @@bar.success(35)
        @@bar.warning.striped.showingValue(20)
        @@bar.danger(10)
        }
    }
}
