@import views.bs3.bs3._

@()

@docs.util.docpage("Wells") {

    <h2>Default well</h2>

    @docs.util.example {
        @well {Look, I'm in a well!}
    } {
    }

    <h2>Optional classes</h2>

    @docs.util.example {
        @well.large {Look, I'm in a large well!}
    } {
    }

    @docs.util.example {
        @well.small {Look, I'm in a small well!}
    } {
    }

}